/* スタイルを追加 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}
.resource-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.resource-table th, .resource-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: relative; /* 相対位置指定 */
}
.resource-table th {
    background-color: #3498db;
    color: #fff;
}
/* グループ化された行のスタイル */
.resource-table tbody tr.group {
    font-weight: bold;
    background-color: #f2f2f2;
}
/* 縦の区切り線 */
.resource-table td:first-child {
    border-right: 1px solid #ddd;
}
/* `model_filename`と`custommodeldata`の間の縦線 */
.resource-table td:nth-child(2) {
    border-right: 1px solid #ddd;
}
